*{
	margin: 0;
	padding: 0;
 }

nav li {
	display:inline-block;
	padding: 25px;
}

#skills li {
	display: inline-block;
	padding: 50px;
}

#html, #css, #bootstrap, #sublime, #autocad {
	display: inline-block;
}

