*{
	margin: 0;
	padding: 0;
	/*font-family: 'Open Sans', sans-serif;*/
 }

nav li {
	display:inline-block;
	padding: 25px;
}

#profile img {
	display: inline-block;
}

#skills li {
	display: inline-block;
	padding: 50px;
}



#education ul {
	padding: 20px;
	display: inline-block;
	text-align: center;
}



