*{
	margin: 0;
	padding: 0;
	/*font-family: 'Open Sans', sans-serif;*/
 }

.navbar-horizontal li {
	display:inline-block;
	padding: 2px;
}

nav a {
	padding: 80px;
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

#profile div {
	padding: 100px;
}

#skills li {
	display: inline-block;
	padding: 50px;
}



#education .d-flex  {
	padding: 20px;
	display: inline-block;
	text-align: center;
}

#contact form {
	border: 1px solid black;
	padding: 50px;
	margin: 10px;
}

footer {
	background-color: blue;
}

